/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    /* scroll-behaviour: auto !important; */
  }
}

/* Variables */
:root {
  /* 1. Colores */
  --black: #000000;
  --white: #ffffff;
  /* 2. Tipografía */
  --font-sans: "Inter var", sans-serif;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  /* 3. Layouts */
  --size-mobile: 414px;
  --size-desktop: 1440px;
}

/* Base */
body {
  font-family: var(--font-sans);
  background-color: var(--white);
  color: var(--black);
}

/* Home */
.home {
  position: relative;
}

/* Menu */
.menu {
  border: 2px solid black;
  height: 100vh;
  width: 35vw;
  margin-left: auto;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

/* .menu ul li {
} */
.menu ul li:nth-child(1) {}

.menu ul li:nth-child(2) {
  margin-top: auto;
  width:auto;
}

.menu ul li:nth-child(3) {
  margin-top: top;
  width: 99px;
}

.menu ul li:nth-child(4) {
  margin: auto;

 
  


}

.menu ul li:nth-child(5) {
  margin-top: top;
  width: 170px;

}

.menu ul li:nth-child(6) {
  margin-top: auto;
  width: 99px;
  
}

.menu ul img {
  object-fit: contain;
  

}

.home .titulo {
  font-size: 120px;
  font-family: "Inter";
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/* imagenes */
.home .imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 120px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.home .imagenes img {
  width: 400px;
}

.home .imagenes img:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.home .imagenes img:nth-child(3) {
  grid-row: 3 / 4;
}

/* Menu items */
.menu-item {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 150px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

.menu-item p {
  margin-top: auto;
  color: white;
}

.menu-item.rojo {
  background: red;
}

.menu-item.azul {
  background: blue;
  transform: rotate(180deg);
}

.menu-item.verde {
  background: green;
}

.menu-item.rosa {
  background: pink;
}


